# Entorno virtual
.venv/
venv/
env/

# Archivos de entorno / secretos
.env
.env.local
.env.production
.env.development

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# VS Code
.vscode/

# Otros temporales
.DS_Store
Thumbs.db
.env
__pycache__/
*.pyc
.venv/
instance/
